header {
    background-color: burlywood;
    color: white;
    text-align: center;
}

main {
    background-color: lightgrey;
    padding: 1em;
    ;
}

body {
    margin: 0;
    background-image: url('record.png');
    background-repeat: repeat; /* It repeats automatically without this line */

}